@page "/monthlyview"
@using BlazorCalendar
@using BlazorCalendar.Models
@using System.Globalization

<div class="d-flex flex-row mb-2">
	<button type="button" @onclick="GoToday" class="btn">📅 Go Today</button>
	<button type="button" @onclick="@(m => ClicMonthNavigate(-1))">🔼</button>  
	<button type="button" @onclick="@(m => ClicMonthNavigate(1))" class="me-2">🔽</button>
	<input type="date" class="me-2" value="@(today.ToString("yyyy-MM-dd"))" @onchange="@(e => ChangeFirstDate(e.Value.ToString()))" />
	<select @bind="@PriorityDisplay" class="me-2">
		<option value="@PriorityLabel.Code" selected>Label: Code</option>
		<option value="@PriorityLabel.Caption">Label: Caption</option>
	</select>
	<div>
		<input type="checkbox" @bind="draggable" id="is-draggable" />
		<label for="is-draggable">Draggable</label>
	</div>	
</div>

<CalendarContainer FirstDate="today" 
	               TasksList="TasksList.ToArray()" 
				   DisplayedView="DisplayedView.Monthly">
	<MonthlyView PriorityDisplay="@PriorityDisplay"
				 OutsideCurrentMonthClick="OutsideCurrentMonthClick"
				 TaskClick="TaskClick" 
				 DayClick="DayClick" 
				 Draggable="@draggable"
				 DragStart="DragStart" 
				 DropTask="DropTask"
				 HighlightToday="true" />
</CalendarContainer>

<br />
<div class="console">@fakeConsole</div>

@code{
	private DateTime today = DateTime.Today;  
	private int months = 12;
	private List<Tasks> TasksList;
	private string fakeConsole = "";
	private BlazorCalendar.PriorityLabel PriorityDisplay = PriorityLabel.Code;
	private bool draggable = true;

	protected override void OnInitialized()
	{
		//CultureInfo.DefaultThreadCurrentCulture = new CultureInfo("dz-DZ");
		//CultureInfo.DefaultThreadCurrentCulture = new CultureInfo("en-US");
   
		TasksList = new()
		{
			new Tasks { ID = 0, DateStart = today.AddDays(0), DateEnd = today.AddDays(1), Code = "HELLO", Color = "#FFD800", Caption = "Lorem ipsum dolor sit amet", FillStyle = FillStyleEnum.BackwardDiagonal },
			new Tasks { ID = 1, DateStart = today.AddDays(4).AddHours(8).AddMinutes(30), DateEnd = today.AddDays(4).AddHours(11), Code = "😉 CP", Color = "#19C319", Caption = "Lorem ipsum dolor sit amet" } ,
			new Tasks { ID = 2, DateStart = today.AddDays(30), DateEnd = today.AddDays(31), Code = "POD", Color = "#844fe7", Caption = "Podcast DevApps", FillStyle = FillStyleEnum.ZigZag } ,
			new Tasks { ID = 3, DateStart = today.AddDays(20), DateEnd = today.AddDays(21), Code = "CALL", Color = "#eb3c37", ForeColor = "#222", Caption = "Lorem ipsum dolor sit amet", FillStyle=FillStyleEnum.CrossDots },
			new Tasks { ID = 4, DateStart = today.AddDays(31), DateEnd = today.AddDays(31), Code = "MTG", Color = "#19C319", Caption = "MTG:France" },
			new Tasks { ID = 5, DateStart = today.AddDays(40), DateEnd = today.AddDays(42), Code = "DEV", Color = "#FFD800", Comment="on Teams template", Caption = "Fusce quis purus eu ante" },
			new Tasks { ID = 6, DateStart = today.AddDays(32), DateEnd = today.AddDays(33), Code = "MEET", Color = "#0d6efd" },
			new Tasks { ID = 7, DateStart = today.AddDays(32), DateEnd = today.AddDays(32), Code = "BLAZOR", Color = "#FFC3FF", Caption = "Blazor Dev" } ,
			new Tasks { ID = 8, DateStart = today.AddDays(45).AddHours(8), DateEnd = today.AddDays(45).AddHours(9), Code = "MEETING", Color = "#2DD7D7", Comment="Julien's test" },
			new Tasks { ID = 9, DateStart = today.AddDays(-8), DateEnd = today.AddDays(-7), Code = "MEET⭐", Color = "#0d6efd",Caption = "MTG:France" }
		};
	}

	private void ChangeFirstDate(string value)
	{
		if (string.IsNullOrEmpty(value)) return;
		today = DateTime.Parse(value.ToString());
	}

	private void GoToday()
	{
		today = DateTime.Today;
	}

	private void ClicMonthNavigate(int monthToAdd)
    {
        today = today.AddMonths(monthToAdd);
    }

	private void OutsideCurrentMonthClick(int MonthAdded)
	{
		today = today.AddMonths(MonthAdded);
	}

	private void TaskClick(ClickTaskParameter clickTaskParameter)
	{
		fakeConsole = "ID task(s) :" + string.Join(", ", clickTaskParameter.IDList);
	}	

	private void DayClick(ClickEmptyDayParameter clickEmptyDayParameter)
	{
		fakeConsole = "Empty day :" + clickEmptyDayParameter.Day.ToShortDateString();
	}

	private void DragStart(DragDropParameter dragDropParameter)
	{	 
		fakeConsole = $"DragStart event : {dragDropParameter.taskID}";
	}  

	private void DropTask(DragDropParameter dragDropParameter)
	{													 
		fakeConsole = $"DropTask event :{dragDropParameter.Day.ToShortDateString()} {dragDropParameter.taskID}";

		Tasks taskDropped = TasksList.FirstOrDefault(t => t.ID == dragDropParameter.taskID);

		var TotalDay = (taskDropped.DateEnd - taskDropped.DateStart).TotalDays;
		taskDropped.DateEnd = dragDropParameter.Day.AddDays(TotalDay);
		taskDropped.DateStart = dragDropParameter.Day;
	}
}