@page "/switchview"
@using BlazorCalendar

<div class="d-flex flex-row mb-2">

	<select @bind="@SelectedView" class="me-2">
		<option value="@DisplayedView.Annual" selected>Annual view</option>
		<option value="@DisplayedView.Monthly">Monthly view</option>
		<option value="@DisplayedView.Weekly">Weeky view</option>
	</select>
	 
</div>

<CalendarContainer  DisplayedView="SelectedView"  >
	<AnnualView HeaderClick="HeaderClick" HeaderStyle="@HeaderStyle" />
	<MonthlyView />
	<WeekView />
</CalendarContainer>

@code{
	private BlazorCalendar.DisplayedView SelectedView = DisplayedView.Annual;
	private string HeaderStyle = "cursor:pointer";

	private void HeaderClick(DateTime monthclicked)
	{
		SelectedView = DisplayedView.Monthly;
	}
}